body {	
	padding:0;
	margin:0;
	background:url(images/BMW-M4-F82-.jpg) no-repeat center fixed;
	background-size:cover;
	-webkit-background-size:cover;
	background-attachment:scroll;
	}

h1 {
	font-family: "trebuchet ms";
	font-size: 35px;
	color:black;
	text-align:center;
	margin-bottom:30px;
	margin-top:15;

 }

h2{
	font-family: "trebuchet ms";
	color:black;
	font-size:25px;
	text-align:center;
	margin-bottom:40px;
	margin-top:40px;
 }

 .header2 h1
 {
	 
	font-family: "trebuchet ms";
	font-size: 35px;
	color:black;
	text-align:right;
	margin-bottom:25px;
	margin-top:-42px;
	margin-right:45px;
	 
 }
 .header2 p
 {
	 font-family:trebuchet;
	 font-size:17px;
	 
 }
 .header2 img
 {
	margin-top:2px;
	 
 }
 
 .panier
 {
	position:absolute;
    top:6px;
    right:220px;
	    	 
 }
 
/* barre de menu */

#main_menu li button
{
	padding-bottom:7px;
	padding-top:7px;
	border-radius:1px 1px 1px 1px;
	border:outset;
	background:#F0F0F0;
	color:black;
	
}


#main_menu{
	
display: inline-block;
border-width:2px;
border-style:solid;
background-color:grey;
padding-right:10px;
padding-top:2px;
width:99%;

}	

#main_menu ul {
width:600px;
float:left;
text-align:left;
line-height:36px;
margin:0;
padding:0;
}

#main_menu li {
width:auto;
float:left;

font-size:11px;
list-style: none;
line-height:36px;
}
	
#main_menu a{
text-decoration:inherit;
color:white;
padding: 0px 5px 0px 5px;
background-color: grey;
}

#search_box 
{
display : block;
}


#identifiant, #search_fileld, #mdpasse{
	
	margin : 0px;
	display: inline-block;
}


#identifiant
{
	border-width:1px;
	border-style:solid;
	border-color:black;
}


#mdpasse
{
	border-width:1px;
	border-style:solid;
	border-color:black;
}

#search_field
{
	position: absolute;
    top: 14px;
    right: 10px;
    width: 200px;
    border: 1px solid black;

}


/* contenus */ 


.prixactuel
{
	color:red;
}

.espace
{
	clear:both;
}

.taille-contenu{
	width:80%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	
}

.padding-contenu{
	padding:5%;
}

.tout-contenu{
	-webkit-box-shadow: 0px 0px 15px #E3E3E3;
	box-shadow: 0px 0px 15px #E3E3E3;
	-moz-box-shadow: 0px 0px 15px #E3E3E3;
}
.contenu-cadre{
	padding: 5% 6%;
	color: black;
	background: #F0F0F0;
}

.case1
{
	border-width:1px;
	border-style:solid;
	margin-right:230px;	
	background-color:grey;
	font-family: "trebuchet ms";
}
	
.placement-cadre {
	float: left;
	width: 25%;
}

.nomproduit, .description,.prixavant
{
	margin-left:-130px;
}

.case1 img, .case1b imgb
{
	display:block;
	
}

.case1b imgb, .case1, .case 
{
	margin-left:200px;
	
}

button.details /* faut mettre la classe details sur tous les bouttons */
{
	border: 1px solid black;
	border-bottom: 1px solid;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #F0F0F0;
	float:right;
	padding: 7px 20px;
	color:black;
    cursor:pointer;
}
	


/* contact */ 


.spanform {
	width:100%;
}


.contact-form{
	position:relative;
	padding-bottom:30px;
}

.contact-form div{
	padding:5px 0;
}

.contact-form span{
	display:block;
	font-size:0.8125em;
	color: #333;
	padding-bottom:5px;
	font-family :verdana, arial, helvetica, helve, sans-serif;
}

.contact-form input[type="text"],.contact-form textarea{
	padding:8px;
	display:block;
	width:98%;
	
}

.contact-form textarea{
	resize:none;
	height:120px;		
}

.coordonnee p
{
	font-family:arial;
}

.carteMaps
{
		margin-left:199px;
		margin-top:-250px;
}


/* detail vago */
.commentaire {
	margin-top: 50px;
	color:#333;
}
.commentaire p {
	position: relative;
	padding: 8px 0;
}
.commentaire label
 {
	display: block;
}

.commentaire input[type="text"] 
{
	padding: 7px 15px;
	width: 47%;
	color: #222;
	font-size: 13px;
	border:none;
	background: white;
	outline: none;
	display: block;
}
.commentaire textarea {
	padding: 7px 15px;
	width: 70%;
	color: #222;
	font-size: 13px;
	outline: none;
	height: 100px;
	display: block;
	border: none;
	background: white;
	font-family: 'Arial', sans-serif;
}

.txt-taille{
	width: 68.1%;
}
.txt-taille  h1{
	color:blue;
	text-align:center;
	font-size:1.8em;
	font-weight :normal;
	margin-top: 0px;
	margin-left:200px;
}
.txt-taille  p{
	font-size:1.1em;
	padding:0.3em;
	color: black;
	line-height: 1.6em;
}
.zone-com {
	padding-top:2%;
}
.details-top{
	margin-top:3%;
}
.details-bot{
	margin-bottom: 2%;
}

.yan
{
	float:right;
	margin-right:-250px;
	margin-bottom:50px;
	
}

.gogo 
{
	float:center;
	margin-left:115px;
	margin-top:30px;
	margin-bottom:30px;
	
}


@media only screen and (max-width: 480px) 
{
	.taille-contenu 
	{
		width:95%;
    }

}
@media (max-width:1024px)
{
	.taille-contenu
	{
		width:95%;
	}

	

	
@media (max-width:1366px)
	{
	.taille-contenu
	{
		width:95%;
	}	

	}
