
body {	
	padding:0;
	margin:0;
	background:url(images/background.jpg) no-repeat center fixed;
	background-size:cover;
	-webkit-background-size:cover;
	background-attachment:scroll;

	
	
	}

h1 {
	font-family: "trebuchet ms";
	font-size: 35px;
	color:black;
	text-align:center;
	margin-bottom:20px;

}

h2{
	font-family: "trebuchet ms";
	color:black;
	font-size:25px;
	text-align:center;
	
}



/* barre de menu */



.search_field
{
	margin-top:6.5px;
	margin-right:50px;
	float:right;
	border-width:1px;
	border-style:solid;
}

#main_menu li button
{
	padding-bottom:7px;
	padding-top:7px;
	border-radius: 0.5px 0.5px 0.5px 0.5px;
	
	
}


#search_box {
float:right;
width:310px;
padding-top:0;

}



#main_menu{
border-width:2px;
border-style:solid;
background-color:grey;
padding-left:12px;
display: inline-block;
width:99%;

}	

#main_menu ul {
width:600px;
float:left;
text-align:left;
line-height:36px;
margin:0;
padding:0;
}

#main_menu li {
width:auto;
float:left;
margin-right:0;
margin-left:0;
font-size:11px;
display:inline;
line-height:36px;
}
	
#main_menu a{
text-decoration:inherit;
color:white;
padding: 0px 5px 0px 5px;
background-color: grey;
}


/*.header2 h1 
{
	
	border-bottom:20px;
	border-top:30px;
	border-right:5px;
	border-left:5px;
	border-style:double;
	
}
*/

/* contenus */ 

.taille-contenu{
	width:80%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}

.padding-contenu{
	padding:5%;
}

.tout-contenu{
	-webkit-box-shadow: 0px 0px 15px #E3E3E3;
	box-shadow: 0px 0px 15px #E3E3E3;
	-o-box-shadow: 0px 0px 15px #E3E3E3;
	-moz-box-shadow: 0px 0px 15px #E3E3E3;
}
.contenu-cadre{
	padding: 5% 6%;
	color: black;
	background: #FFF;
}








@media only screen and (max-width: 480px) {
	.taille-contenu{
		width:95%;
    }
}
@media (max-width:1024px){
	.taille-contenu{
		width:95%;
	}
	

	
	@media (max-width:1366px){
	.taille-contenu{
		width:95%;
	}	